/* CSS for the 404 page */

body {
    background-color: seashell;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.error_text {
    font-size: 2em;
}

.error_text > button {
    height: 50px;
    width: 100px;
    font-size: 1em;
    border-radius: 15%;
}


/* add box shadow to image later to fade edges */

.error_bg > img {
    opacity: 0.85;
    width: 750px;
    border-radius: 50%;
}

.btn.btn-bg-dark {
    display: flex;
    background-image: linear-gradient(to bottom right, lavender, rgb(119, 118, 118));
    border-radius: 12px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 4px outset cornflowerblue;
    color: snow;
    /* -webkit-text-stroke: .5px white; */
	/* text-shadow: -1px 1px 1px var(--font_shadow_color),
				  1px 1px 1px var(--font_shadow_color),
				  1px -1px 5px var(--font_shadow_color),
				  -1px -1px 5px var(--font_shadow_color); */
}

