

/* general related */
html, body  {
    height: 100%;
}

input[type='radio'] { 
    transform: scale(2); 
}

.index_welcome_pic {
    display: flex;
    padding: 50px;
}

.index_main {
    display: flex;
    padding: 50px;
}

.flash-message {
    color: red;
    font-weight: bold;
    font-size: 20px;
}




/* Flex container related */
.flex_container {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 2px;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    padding: 1em;
}


/* room related */
.room_choices {
    background-color: aquamarine;
    overflow-y: auto;
    height: 500px;
}

.room_choice_items {
    height: 30px;
}

.btn_placeholder {
    float: right;
    border-radius: 30%;
}

.btn_remove {
    float: right;
    border-radius: 30%;
}



.search_result_container {
    border-style: solid;
    border-width: 2px;
    height: 400px;
    overflow-y: auto;
}

.search_result_item {
    border-style: solid;
    border-width: 1px;
}

.room_participants {
    border-style: solid;
    border-width: 1px;
    border-color: cornflowerblue;
}

.event_room {
    height: 75%;
}


/* Item detail related */

.item_poster > img {
    width: 400px;
    height: auto;
}

.bg_details {
    padding-top: 1em;
    font-size: 1.5em;
}

.item_description {
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin-bottom: 1em;

    height: 350px;
    overflow-y: auto;
}


/* Results related */
#display_voting_results {
    display: flex;
    margin-left: 3em;
}

#display_voting_choices {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#display_votes {
    width: 75%;
}

.result_choices {
    height: 30px;
    border-color: lightcoral;
}


/* Form related */
.edit_details > form > label {
    width: 200px;
}


