html, body  {
    height: 100%;
}


.flex_container {
    display: flex;
    justify-content: space-evenly;
    border-style: solid;
    border-width: 2px;
}

.room_choices {
    background-color: aquamarine;
    overflow-y: auto;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    padding: 1em;

}

.search_result_container {
    border-style: solid;
    border-width: 2px;
    height: 200px;
    overflow-y: auto;

}

.search_result_item {
    border-style: solid;
    border-width: 1px;
}


.room_participants {
    border-style: solid;
    border-width: 1px;
    border-color: cornflowerblue;
}

.event_room {
    height: 75%;
}

.


.item_poster > img {
    width: 400px;
    height: auto;
}

.bg_details {
    padding-top: 1em;
    font-size: 1.5em;
}

.item_description {
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    margin-bottom: 1em;

    height: 350px;
    overflow-y: auto;


}

.index_welcome_pic {
    display: flex;
    padding: 50px;
}

.index_main {
    display: flex;
    padding: 50px;
}

.flash-message {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
