{% extends 'base.html' %}


{% block title %} Account Creation {% endblock %}


{% block body %}

<div id="account_bg">
    <div id = "account_container" class="animate__animated animate__zoomInDown">
        <h2>Create Account or Login</h2>
    
        <div id = "account_input">
            <form method="POST">
    
                <div class="form-group">
                    <label for="fname">First Name: </label>
                    <input type="text" class="form-control" name="fname" required autofocus value={{ details.fname }}><br>
                </div>
    
                <div class="form-group">
                    <label for="lname">Last Name: </label>
                    <input type="text" class="form-control" name="lname" required value={{ details.lname }} ><br>
                </div>
    
                <div class="form-group">
                    <label for="uname">User Name: </label>
                    <input type="text" class="form-control" name="uname" required value={{ details.uname }}><br>
                </div>
    
                <div class="form-group">
                    <label for="email"><a href="https://davidcel.is/2012/09/06/stop-validating-email.html"><strong>E-mail:</strong></a> </label>
                    <input type="email" class="form-control" name="email" required value={{ details.email }}><br>
                </div>
    
                <div class="form-group">
                    <label for="password">Password:  (Minimum length 8 characters) Go <a href="https://www.security.org/how-secure-is-my-password/">here</a> to check how secure your password is</label>
                    <input type="text" class="form-control" name="password" minlength="8" required value={{ details.password }}><br>
                </div>
    
                <button type="submit" class="btn btn-bg-dark" formaction = "/account">Create Account</button>
            </form>
        </div>    
    
    
    
    </div>
</div>

{% endblock %}

