{% extends 'base.html' %}


{% block title %} Account Creation {% endblock %}


{% block body %}

<div class="container">
    <h2>Create Account or Login</h2>

    <div id = "account_input">
        <form method="POST">

            <div class="form-group">
                <label for="fname">First Name: </label>
                <input type="text" class="form-control" name="fname" required autofocus><br>
            </div>

            <div class="form-group">
                <label for="lname">Last Name: </label>
                <input type="text" class="form-control" name="lname" required><br>
            </div>

            <div class="form-group">
                <label for="uname">User Name: </label>
                <input type="text" class="form-control" name="uname" required><br>
            </div>

            <div class="form-group">
                <label for="email"><a href="https://davidcel.is/2012/09/06/stop-validating-email.html">E-mail:</a> </label>
                <input type="email" class="form-control" name="email" required><br>
            </div>

            <div class="form-group">
                <label for="password">Password:  (Minimum length 8 characters) Go <a href="https://www.security.org/how-secure-is-my-password/">here</a> to check how secure your password is</label>
                <input type="text" class="form-control" name="password" minlength="8" required><br>
            </div>

            <input type="submit" formaction = "/account" value="Create Account">
        </form>
    </div>    



  </div>
{% endblock %}

