<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
        <link rel='stylesheet' href='/static/css/styles.css' />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        {% block head %} {% endblock %}

    </head>

    <body>
        {% block nav %} 
            <div name='nav_bar' class='navbar'>
                <button class="col-md-1" id="btn-home">Home</button>
                <button class="col-md-1" id='btn-create-room'>Create a Room</button>
                <form method="POST">
                    <input type="submit" formaction = "/room/code" value="Join Room">
                    <label for="room_code">Room Code: </label>
                    <input type="text" id="btn-room-code" name="room_code" class="col-md-2" maxlength="4">
                </form><br>


                <div class="col-md-1"></div>

                {% if session['user'] %}
                    <div class="col-md-5">
                        <div class = "offset-md-5">Logged in: {{ session['user_name'] }}
                            <button class="offset-md-5" id='btn-logout'>Logout</button>
                        </div>
                    </div>
                {% else %}
                <div class="col-md-5">
                    <form method="POST">
                        <label for="uname">Username: </label>
                        <input type="text" id="uname" name="uname">
                        <label for="password">Password: </label>
                        <input type="text" id="password" name="password">
                        <input type="submit" formaction = "/login" value="Log In">
                    </form><br>
                </div>                    
                {% endif %}

            </div>
        {% endblock %}

        <div class="spacer">&nbsp;</div>

        {% for message in get_flashed_messages() %}
            <div class="flex_container">
                <p class='flash-message'> {{ message }}</p>
            </div>
        {% endfor %}

        {% block body %} {% endblock %}


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>       
        <script src='/static/scripts/script.js'></script>
    </body>
</html>
