{% extends 'base.html' %}
{% block title %} Here there be dragons {% endblock %}


{% block body %}

<div id="video_container">
    <video autoplay muted loop id="intro_Video">
        <source src="/static/media/sparkle_rain.mp4" type="video/mp4">
    </video>    
</div>

<div id = "index_container" class="container-fluid">
    <div id = "index_welcome_pic" style="display: flex; flex-direction: column;">
        <div style="height: 400px; text-align: center;"></div>

        <ol id="intro"><br>
            <li> Create an account</li><br>
            <li> Create (or join) a room</li><br>
            <li> Add stuff that you want to vote for</li><br>
            <li> Vote on the choices!</li>
        </ol>


        <!-- <img src="/static/img/spirit_animal.jpg"/> -->
    </div>

    <div class="col-md-2">

    </div>

    <div id = "index_main" style="display: flex; flex-direction: column;">
        <div style="height: 100px">
        </div>
        
    </div> <!-- Ends #index_main -->
    <div class="col-md-2"></div>


</div>
{% endblock %}

