{% extends 'base.html' %}
{% block title %} Here there be dragons {% endblock %}


{% block body %}


<div class = "flex_container">
    
    <div id = "index_welcome_pic">
        <img src="/static/img/spirit_animal.jpg" />
    </div>

    <div id = "index_main">
        <p><a href="/account"> Account Creation / Login</a></p>

        <p><a href="/search">Testing room</a></p>

        <p><a href="/test">Feature Test</a></p>

        <p><a href="/all_rooms">List all rooms</a></p>
    </div>
</div>
{% endblock %}

