{% extends 'item_details_base.html' %}

{% block title %} {{ details['name'] }} {% endblock %}



{% block body %}

<div id = "flex_container_vg">
    <div class="vg_details">
        <div class = "vg_stats">
            <!-- <span style="font-size: 30px; font-weight: bold;">{{ details['original_name'] }}</span><br> -->
            {{ details['name'] }}
            <div class="flex_row">
                Released: {{ details['released'] }} <br>
                Developers: {{ details['developers'][0]['name'] }} <br>
                Metacritic: {{ details['metacritic'] }} <br>
                Platoforms: {{ platforms }}
            </div>
        </div>

        <div class = "vg_description">
            {{ details['description'] | safe }}
        </div>
    
    </div>

    <div class="vg_picture">
        <img src = {{ details['background_image'] }}>&nbsp;
        <img src = {{ details['background_image_additional'] }}>
</div>
</div>



{% endblock %}
