{% extends 'base.html' %}

{% block title %} {{ details['name'] }} {% endblock %}



{% block body %}

<div class = "flex_container">

    <div class = "vertical_flex_wide col-md-4">
        <h2>{{ details['name'] }}</h2>

        <div class = "bg_details">
            Year: {{ details['year_published'] }} <br>
            Players: {{ details['min_players']}} - {{ details['max_players']}}    
        </div>
    
        <div class = "bg_thumb item_poster">
            <img src={{ details['thumb_url'] }}>
        </div>
    
    </div>

    <div class = "item_description">
        {{ details['description'] | safe }}
    </div>
</div>

{% endblock %}


