{% extends 'base.html' %}

{% block title %} details['original_title'] {% endblock %}



{% block body %}

<div class = "flex_container">

    <div class = "vertical_flex_wide col-md-4">
        <h2>{{ details['original_title'] }}</h2>

        <div class = "show_details">
            year: {{ details['release_date'] }} {{ details['first_air_date'] }}<br>
        </div>

        <div class = "item_poster">
            <img src={{ poster_url }}>
        </div>
    
    </div>

    <div class = "item_description">
        {{ details['overview'] | safe }}
    </div>




</div>





{% endblock %}


