{% extends 'base.html' %}

{% block title %} {{ details['name'] }} {% endblock %}



{% block body %}

<h2>{{ details['name'] }}</h2>

<div class = "flex_container">

    <div class = "bg_details col-md-2">

        Year: {{ details['year_published'] }} <br>
        Players: {{ details['min_players']}} - {{ details['max_players']}}

    </div>

    <div class = "item_description col-md-6">
        {{ details['description'] | safe }}

    </div>

    <div class = "bg_thumb item_poster col-md-3">
        <img src={{ details['thumb_url'] }}>
    </div>

</div>





{% endblock %}


