{% extends 'base.html' %}

{% block title %} Create a room {% endblock %}



{% block body %}

<div id="room_container">
    <div class = "voting_method_description col-md-6 animate__animated animate__backInLeft">
        <h2>Create a Room</h2>
        <br>
        <div id="create_room_description">
            {% if bernie %}
                <img src="/static/img/bernie.jpg" width="90%" />

                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="business" value="QLNZ9L373K9G2" />
                    <input type="hidden" name="no_recurring" value="0" />
                    <input type="hidden" name="item_name" value="I am a solo developer that is making this tool in my spare time.  Your contribution will allow me to add new features!  :)" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>'                

                <audio autoplay>
                    <source src="/static/media/bernie_support.mp3">
                </audio>

            {% else %}
                <span class="blink"><strong>California Primary is June 7th.  Don't forget to vote!</strong></span>

                <br><br>                  

                <strong>
                    After you create a room, find the room in your user profile page. <br><br>
                    From there, you can click on the room to enter the room directly. <br><br>
                    You can also see the room's 4 character code that you cand give to <br>
                    other site users to let them join your room via the "Join Room" <br>
                    button and input field in the Navigation Bar on the top of the page. <br>
                </strong>


            {% endif %}

        </div>
    </div>

    <div id = "create_room" class="col-md-3 animate__animated animate__backInUp">
        <div class="form-group">
            <form method="POST" action="/create_room">

                <label for="description">Description: </label>
                <input type="text" class="form-control" name="description" placeholder="Enter room description here" autofocus><br>

                <input type="radio" name="voting_style" value="fptp" checked="checked" onclick="display_voting_method_info(event)">
                <label for="voting_style">First Past the Post</label><br><br>

                <input type="radio" name="voting_style" value="random" onclick="display_voting_method_info(event)">
                <label for="voting_style">Randomizer</label><br><br>

                <input type="radio" name="voting_style" value="alternative" onclick="display_voting_method_info(event)">
                <label for="voting_style">Alternative Vote</label><br><br>

                <button type="submit" class="btn btn-bg-dark">Create Room</button>
            </form>            
        </div> <!-- Closes form-group div-->

        <div id="donate">
            To unlock Alternative voting option, please

            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="business" value="QLNZ9L373K9G2" />
                <input type="hidden" name="no_recurring" value="0" />
                <input type="hidden" name="item_name" value="I am a solo developer that is making this tool in my spare time.  Your contribution will allow me to add new features!  :)" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>'

        </div>
    </div>    
  </div>


{% endblock %}


