{% extends 'base.html' %}

{% block title %} {{ room.description }} {% endblock %}


{% block body %}

<h2>Room: {{ room.description }}</h2>

<div class="flex_container event_room">

    <!-- Vertical flex box for choice search results -->
    <div class = "vertical_flex col-md-6">
        <!-- Form for searching for choices -->
        <div class = "add_choices">
            <form method="POST">
                <input type="hidden" name="event_id" value={{ room.event_id }} />
                <input type="hidden" name="room_code" value={{ room.room_code }} />
                <input type="hidden" name="create_choice" value=0 />

                <label for="choice_type" id="choice_type">Type: </label> 
                <select name="choice_type">
                    <option value="boardgame">Boardgame</option>
                    <option value="vgame">Video Game</option>
                    <option value="movie">Movie</option>
                    <option value="tv">TV</option>
                </select>

                <label for="choice_title">Title: </label>
                <input type="text" name="choice_title">                        
                <input type="submit" formaction = "/add_choice" value="Search">                        
            </form>
        </div><br>

        <!-- Create visual representation of matching search results -->
        <div class = "search_result_container">
            {% for record in search_results %}
            <div class = "search_result_item" id = "{{ record.title }}" draggable = "true" onDragStart="onDragStart(event)" choice_title = "{{ record.title }}" choice_type = {{ choice_type }} event_id = {{ room.event_id }} room_code = {{ room.room_code }} create_choice = "1">
                {{ record.title }}
            </div>
            <!--- 
                <form method="POST">
                    <div class = "search_result_item">
                        <button type="submit" formaction = "/add_choice" name="choice_title" value="{{ record.title }}"> {{ record.title }} </button>
                        <input type="hidden" name="choice_type" value={{ choice_type }} />
                        <input type="hidden" name="event_id" value={{ room.event_id }} />
                        <input type="hidden" name="room_code" value={{ room.room_code }} />
                        <input type="hidden" name="create_choice" value=1 />
                    </div>
                </form>
            --->                
            {% endfor %}
        </div><br>

        <!-- Flexbox container to list current choices -->
        <h2>The nominees</h2>
        <div class = "room_choices" ondragover="onDragOver(event);" ondrop="onDrop(event);">

            <form method="POST">
                {% for choice in room.choices %}
                    <div class = "room_choice_items">
                        {% if room.voting_style == 'fptp' %}
                            &emsp;<input type="radio" name="choice_id" value={{ choice.choice_id }}>&nbsp;
                        {% endif %}
                        <a href="/details/{{ choice.choice_id }}" class="choice_title">{{ choice.title }}</a>
                        <button type="button" class="btn_placeholder" name="placeholder">Placeholder </button>
                        <button type="submit" class="btn_remove" formaction = "/remove_choice" name="choice_id" value="{{ choice.choice_id }}"> Remove </button><br>
                    </div>
                {% endfor %}
                <input type="hidden" name="room_code" value={{ room.room_code }} />                    
                <input type="hidden" name="vote_strength" value= "1" />                    
                <button type="submit" formaction = "/submit_vote">Submit Vote / View Results</button>
            </form>
        </div>
    </div>

    <div class = "chat_window col-md-4 vertical_flex">
        <div><h2>Chat Window</h2></div>

        <div id="room_chat_box">



        </div>


        
        <div>
            <form id="form_room_chat" method="POST" action="#">
                <input type="text" class="col-md-10" name="room_chat_input" id="room_chat_input" placeholder="Type your message here">
                <input type="submit" value="Chat">
            </form>
        </div>
        <button type="submit" id="btn_test">press me</button>
    </div>


    <!-- Far right column listing room participants -->
    <div class = "room_participants col-md-2">
        All Participants:
    </div>
</div>



{% endblock %}







