{% extends 'base.html' %}

{% block title %} Profile Page {% endblock %}


{% block body %}
    <div id="room_container" class="col-md-12">
        <div class="profile_container col-md-6">

            <span class="header_text">Created Rooms</span>
            <div class="user_created_rooms">
                <form method="POST">
                    <table style="height: 500px;">

                        <tr>
                            <th class="col-md-1" style="text-align: center;">Remove</th>
                            <th class="col-md-1" style="text-align: center;">SMS</th>
                            <th class="col-md-2" style="text-align: center;">Room Code</th>
                            <th>&emsp; Room Description</th>
                        </tr>
                        {% for room in user.rooms %}
                        <tr>
                            <td class="td_remove" style="--chat_color: {{ user.chat_color }}; --chat_bg_color: {{ user.chat_bg_color }}">
                                <button type="submit" class="btn btn-bg-dark" formaction = "/remove_event" name="event_id" value="{{ room.event_id }}" style="width: 30px;"> - </button>
                            </td>

                            <td class="td_sms" style="--chat_color: {{ user.chat_color }}; --chat_bg_color: {{ user.chat_bg_color }}">
                                <button id="btn-sms" type="button" class = "btn btn-bg-dark" value={{ room.room_code}} onClick="prep_sms(value)">SMS</button>
                            </td>

                            <td class="td_room_code" style="--chat_color: {{ user.chat_color }}; --chat_bg_color: {{ user.chat_bg_color }}">
                                <strong>{{ room.room_code }}</strong>
                            </td>

                            <td class="td_room_link" style="text-align: left; --chat_color: {{ user.chat_color }}; --chat_bg_color: {{ user.chat_bg_color }}">&emsp;<a href = "/room/{{ room.room_code }}">{{ room.description }}</a></td>                        
                        </tr>
                        {% endfor %}
                    </table>
                </form>

            </div> <!-- Closes .user_created_rooms -->
    
        </div> <!-- Closes .vertical_flex -->

        <div class="profile_container" style="font-weight: bold;">
            <div class="flex_container_min">
                <div class="vertical_flex_min">
                    First Name: <br>
                    Last Name:  <br>
                    email: <br>
                    password hash: <br>    
                </div>

                <div class="vertical_flex_min" style="text-align: left; padding-left: 1em;">
                    {{ user.first_name }} <br>
                    {{ user.last_name }} <br>
                    {{ user.email }} <br>
                    {{ user.password }} <br>              
                </div>        
            </div> <!-- Closes .flex_container_min (User name/email display)-->

            <br>

            <div class="flex_container_min">
                    <div class="vertical_flex_min">
                        <form action="/view_user_profile" method="POST">
                            <label style="height: 30px;">Current Password:</label><br>
                            <label style="height: 30px;">New Password:</label><br>
                            <label style="height: 30px;">Confirm New Password:</label> <br>
                    </div>

                    <div class="vertical_flex_min">
                            &emsp; <input type="text" name="current_pw" maxlength="50"><br>
                            &emsp; <input type="text" name="new_pw" minlength="8" maxlength="50"><br>
                            &emsp; <input type="text" name="confirm_new_pw" minlength="8" maxlength="50"><br><br>
                            <button type="submit" class="btn btn-bg-dark">Change Password</button>
    
                        </form>
                    </div>

            </div> <!-- Closes .flex_container_min (change password form)-->
            <br>
                
            <div class="col-md-10" style="text-align: center;">
                No, we <a href="https://www.explainxkcd.com/wiki/index.php/936:_Password_Strength">don't</a> <a href="https://gizmodo.com/the-guy-who-invented-those-annoying-password-rules-now-1797643987">enforce</a> weird <a href="https://www.technologyreview.com/2015/10/19/165746/youve-been-misled-about-what-makes-a-good-password/">non-sense</a> character <a href="https://www.eventsentry.com/blog/2011/08/why-complex-passwords-can-be-i.html">combinations</a>                
            </div>

            <br><br>

            <div class="flex_container_min">
                <div class="vertical_flex_min">
                    Pick your chat message color: <br>
                    Pick your chat message background color:

                </div>

                <div class="vertical_flex_min">
                    &emsp; <input id="chat_color_picker" type="color" value={{ user.chat_color }} onchange=change_chat_color(this.value)>
                    <br>
                    &emsp; <input id="chat_bg_color_picker" type="color" value={{ user.chat_bg_color }} onchange=change_chat_bg_color(this.value)>
    
                </div>
            </div>

            <br>

            <div class="vertical_flex_min">
                <form method="post">
                    <div class="flex_container_min">
                        <div class="col-md-2" style="text-align: left;">Phone #:</div>
                        <div class="col-md-9" style="text-align: left;">&emsp;Message: </div>
                    </div>

                    <div class="flex_container_min">
                        &emsp; <input id="phone_number" class="col-md-2" name="phone_number" type="tel" style="text-align: center;" placeholder="123-456-7890">
                        &emsp; <input id="sms_message" class="col-md-8" name="sms_message" type="text" value="Click the 'SMS' button for the room you want to send invite to">
                        &emsp; <button type="submit" class="btn btn-bg-dark" formaction="/send_sms">Send</button>
                    </div>


                </form>
            </div>

        </div> <!-- Closes .flex_container_min -->
    </div> <!-- Closes .flex_container -->
{% endblock %}



